<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:url" content="http://www.your-domain.com/your-page.html" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Sidechain Studio" />
		<meta property="og:description" content="Your description" />
		<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />


		<title>sidechain.studio - Design Studio</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/styles/prism-slider.css" />
		<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
		<script src="/js/modernizr.custom.js"></script>
		<script src="https://use.typekit.net/jdz3tzw.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div class="se-pre-con"></div>
		<div id="header">
			<div class="nav-header">
				<div role="navigation" class="navbar navbar-default">
					<div class="nav-container">
						<div class="navbar-header">

							<div class="row title-row container">
								<div id="menu-toggle">
									<button type="button" data-toggle="menu-hide" data-target=".sc-nav-collapse" class="navbar-toggle" id="menuButton">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<div id="cross-container">
										<div id="cross">
										    <span></span>
										    <span></span>
										</div>										
									</div>

								</div>
								{{#if data.post}}
									<h5>{{data.post.title}}</h5>
								{{/if}}
								{{#if feeds}}
									<h5>STREAM OF CONSCIOUSNESS</h5>
								{{/if}}
								{{#if enquiries.post}}
									<h5>CONTACT</h5>
								{{/if}}
								<a href="/contact"><button class="contact" type="button" id="contact-us" >contact us</button></a>
							</div>


							<a href="/" class="navbar-brand"><h3>sidechain</h3></a>
						</div>
						<div class="menu-hide sc-nav-collapse">
							<ul class="nav navbar-nav sc-nav-menu">
								{{# each navLinks}}
									<li id="menuItem" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
								{{#if user}}
									<li id="menuItem" class="sign-out"><a href="/keystone/signout"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
								{{else}}
									<li id="menuItem" class="sign-in"><a href="/keystone/signin"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
								{{/if}}
								<!--<div class="btn-wrap">
									<button class="menu-close" type="button" id="closeMenu">close</button>-->
							</ul>
						</div>
						<div class="sidebar-wrap">
							<div class="sidebar-menu follow">
								<ul class="social-list">
									<a href="https://www.facebook.com/Sidechain-148149845686483/">
										<li class="icon">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</li>
									</a>	
									<a href="https://twitter.com/Ollie_Cern">
										<li class="icon">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</li>
									</a>
									<a href="https://dribbble.com/OllieM">
										<li class="icon">
											<i class="fa fa-dribbble" aria-hidden="true"></i>
										</li>
									</a>
									<a href="https://github.com/sidechain-studio">	
										<li class="icon">
											<i class="fa fa-github" aria-hidden="true"></i>
										</li>
									</a>	
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<footer class="outer-container footer">
			<div id="footer" class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<svg class="sc-logo-title" viewBox="0 0 427.3 30"><use xlink:href="/images/sidechain-logo-title.svg#sc-logo-title"></use></svg>
					</div>
					<div class="col-xs-12 col-md-3">
						<ul class="contact-list">
							<li>Contact Us</li>
							<li>Press Inquiries</li>
							<li>Legal</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-3">
						<ul class="social-list">
							<li>Facebook</li>
							<li>LinkedIn</li>
							<li>Youtube</li>
							<li>Instagram</li>
							<li>Snapchat</li>
						</ul>											
					</div>
				</div>
			</div>
		</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		<script src="/js/utils/rAF.js"></script>
		<script src="/js/utils/easing.js"></script>
		<script src="/js/PrismSlider.js"></script>
		<script src="/js/slideshow.js"></script>
		<script src="/js/mouseScroll.js"></script>
		<script src="/js/particleBoard.js"></script>
		<script src="/js/customScripts.js"></script>
		<script src="/js/homeScripts.js"></script>
		<script src="/js/masonry.pkgd.min.js"></script>
		<script src="/js/imagesLoaded.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/AnimOnScroll.js"></script>

		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>
		<script type="text/javascript">
			$(function() {
			    $("#header, footer").hide();
			});
		</script>

		

		{{{isAdminEditorJS user}}}
	</body>
</html>
