<div class="outer-container about-cont">
	<!--<div class="container page-nav-cont">
		<h5 class="page-title">About</h5>
	</div>-->
	<div class="container main-content">
		<div class="row">

			<div class="col-xs-12 section top">
				<div class="full-width-section">
					<div class="full-width-content full-1">
						
					</div>
				</div>
			</div>

			<div class="col-xs-12 section services">
				<div class="col-sm-6 copy-wrap">
					<h1 class="title">Services</h1>
				</div>
				<div class="col-sm-6 copy-wrap">
					<p>We provide concept-driven creative solutions that are led by an intelligent understanding of the task at hand and achieved through research and strategic insights. Solutions that are both aesthetically pleasing and most importantly effective. Our diverse services allow for a consistent brand perception, making us a singular resource for all your design, content, and strategy needs.
					</p>
				</div>
			</div>

			<div class="col-xs-12 section services-list">
				<div class="col-xs-6 col-sm-3 copy-wrap">
					<h5 class="sub-title">Identity & Branding</h5>
					<p>
						Strategy
						<br/>
						Art Direction
						<br/>
						Identity Design
						<br/>
						Logotypes
						<br/>
						Iconography
					</p>
				</div>
				<div class="col-xs-6 col-sm-3 copy-wrap">
					<h5 class="sub-title">Content Creation</h5>
					<p>
						Concept
						<br/>
						Photography
						<br/>
						Videography
						<br/>
						Title Sequences
						<br/>
						Illustration
					</p>
				</div>
				<div class="col-xs-6 col-sm-3 copy-wrap">
					<h5 class="sub-title">Digital & Web</h5>
					<p>
						UI/UX
						<br/>
						Web Design / Dev
						<br/>
						Mobile Design
						<br/>
						Ecommerce / Retail
						<br/>
						Digital Strategy
					</p>
				</div>
				<div class="col-xs-6 col-sm-3 copy-wrap">
					<h5 class="sub-title">Motion Graphics</h5>
					<p>
						Audio Reactive Visuals
						<br/>
						Animation
						<br/>
						3D Rendering
						<br/>
						Interactive Media Systems
						<br/>
						Installations
					</p>
				</div>
			</div>

			<div class="col-xs-12 section">
				<div class="col-xs-12 col-sm-6 image-col">
					<div class="image-wrap">
						<div id="city-1" class="about-image"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 image-col">
					<div class="image-wrap">
						<div id="city-2" class="about-image"></div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 section about-us">
				<div class="col-sm-6 copy-wrap">
					<h1 class="title">About Us</h1>
				</div>
				<div class="col-sm-6 copy-wrap">
					<p>Welcome to Sidechain, an agile digital studio based in Melbourne & Auckland. Whether you’re a vibrant startup or established business, we can help you revolutionise your customer experience by applying innovative & artistic thinking. Curiosity drives everything we do and experimentation is at the heart of our offering. We’re constantly evolving and our toolkit is ever-changing. We’re not platform exclusive. We use a prototyping methodology as the foundation of all our projects. Our solutions are created not just to satisfy, but to exceed the desires of the modern person. As we help our partners discover new revenue streams and increased relevance — we transform brands, grow businesses and change people’s lives for the better.
					</p>
				</div>
			</div>

			<div class="col-xs-12 section">
				<div class="full-width-section">
					<div class="full-width-content full-2">
						
					</div>
				</div>
			</div>

			<!--<div class="col-xs-12 ">
				<div class="copy-row">
					<h3 class="top-quote">
						Innovation through imagination, aiming to break the barriers between expectation and reality, to reach beyond what has come before.
					</h3>
				</div>
			</div>

			<div class="col-xs-12 section process">
				<div class="col-sm-6 copy-wrap">
					<h1 class="title">Process</h1>
				</div>
				<div class="col-sm-6 copy-wrap">
					<p>We believe that structure empowers creativity. The 12 notes of the musical scale. The 26 letters in the alphabet. The 256 colors in the RGB digital color spectrum. All structural systems used to unlock the vast creativity of music, literature, and visual communication. The foundation to our methodology is the belief that creativity used in conjunction with sound strategic thinking can solve any problem. Built to adapt to each project’s unique circumstances, our process begins with conversation, insight, and research. Driven by our client’s aspirations and business objectives, our tailored approach allows us to focus on creating impactful and effective design solutions.
					</p>
				</div>
			</div>

			<div class="col-xs-12 section">
				<div class="col-xs-12 col-sm-6 image-col">
					<div class="image-wrap">
						<div id="work-1" class="about-image"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 image-col">
					<div class="image-wrap">
						<div id="work-2" class="about-image"></div>
					</div>
				</div>
			</div>-->

			<div id="question-form" class="col-xs-12 section question">
				<div class="full-width-section">
					<div class="full-width-content">
						<div class="col-xs-12 contact-form">
							<h1>Have a Question?</h1>
							<h4>Interested in talking to us about a new project, or just want to find out more about our services and what we can do for you?</h4>
							{{#if enquirySubmitted}}
							<h3>Thanks for getting in touch.</h3>
							<a href="/portfolio"><button class="enter-site-btn" type="submit" id="" data-title="Button">back to business</button></a>
							{{else}}
							<form method="post">
								<input type="hidden" name="action" value="contact">
								<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
									<label>Name*</label>
									<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
								</div>
								<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
									<label>Email*</label>
									<input type="email" name="email" class="form-control" value="{{formData.email}}">
								</div>
								<!--<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
									<label>What are you contacting us about?</label>
									<select name="enquiryType" class="form-control">
										<option value=""></option>
										{{#each enquiryTypes}}
										<option value="{{value}}">{{label}}</option>
										{{/each}}
									</select>
								</div>-->
								<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
									<label>Message</label>
									<textarea name="message" placeholder="" rows="3" class="form-control">{{formData.message}}</textarea>
								</div>
								<div class="form-actions">
									<!--<button type="submit" class="btn btn-primary">Send</button>-->
									<button class="enter-site-btn" type="submit" id="" data-title="Button">send</button>
								</div>
							</form>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>