<div class="outer-container proj-cont">
	<!--<div class="container header-cont">
		<h1>Projects</h1>
	</div>-->
	<div class="container slider-cont">
		<div class="content">
			<div class="cache">
				<!-- masks -->
				<img src="/images/masks/sidechain-logo-1.svg">
				<img src="/images/masks/sidechain-logo-2.svg">
				<!-- photos -->
				<img src="/images/mars-1.jpg">
				<img src="/images/mars-2.jpg">
				<img src="/images/mars-3.jpg">
				<img src="/images/mars-4.jpg">
			</div>
			<div class="wrapper col-xs-12">
				<div class="prism-slider prism-slider--left">
					<h3 class="slider-header">Featured Work</h3>
					<ul class="navigation"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row filter-section"> 
			<div class="col-sm-12 filter-cont">
				<div class="dropdown cat-menu">
					<button class="btn btn-default dropdown-toggle trigger" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    				<span>CATEGORIES</span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li class="cat-menu-li"><a href="/blog" class="">All Categories</a></li>
						{{# each data.categories }}
							<li class="cat-menu-li">
								<a href="{{categoryUrl key}}" class="false" >{{name}}</a>
							</li>	
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		<!--<div class="row">
			<div class="col-xs-12 project-thumbs">
			  <h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
				<div class="blog">
					{{# each data.posts.results}}
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="col-xs-12 col-md-6 project-thumb post">
						{{#if image}}
							<a href="{{postUrl slug}}">
								<img src="{{{cloudinaryUrl image crop='fit' }}}" class="img project-img">
							</a>
						{{/if}}
						<div class="data-container">
							<div class="content">
								<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
								<p class="lead text-muted">{{{categoryList categories prefix=""}}}
										{{#if author.name.first}}by {{author.name.first}}{{/if}}
								</p>
							</div>
						</div>
						<p>{{{content.brief}}}</p>
						{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
					</div>
					{{/each}}
				</div>
			</div>
		</div>-->

		<div class="row">
		{{# each data.posts.results}}
			<div class="col-xs-12 col-sm-6 project-card card" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
				<div class="wrapper" style="background-image:url({{{cloudinaryUrl image crop='fit' }}});" href="{{postUrl slug}}">
					<div class="data">
						<div class="content">
							<span class="author">{{{categoryList categories prefix=""}}}</span>
							<h1 class="title"><a href="{{postUrl slug}}">{{{title}}}</a></h1>
							<p class="text">Olympic gold medals contain only about 1.34 percent gold, with the rest composed of sterling silver.</p>
							<label for="show-menu-{{{title}}}" class="menu-button"><span></span></label>
						</div>
					<input type="checkbox" id="show-menu-{{{title}}}" />
					<ul class="menu-content">
						<li>
							<a href="#" class="fa fa-bookmark-o"></a>
						</li>
						<li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
						<li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
					</ul>
					</div>
				</div>
			</div>
		{{/each}}
		</div>

		{{>pagination}}
	</div>
</div>
