<div class="outer-container proj-cont">
	<div class="container page-nav-cont">
		<h5 class="page-title">PORTFOLIO <span class="separator"></span></h5>
		<div class="cat-menu">
			<ul class="" aria-labelledby="dropdownMenu1">
				<li class="cat-menu-li"><a href="/portfolio" class=""> All</a></li>
				{{# each data.categories }}
					<li class="cat-menu-li">
						<a href="{{categoryUrl key}}" class="false" >{{name}}</a>
					</li>	
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="container slider-cont">
		<div class="content">
			<div class="cache">
				
				<img src="/images/masks/sidechain-logo-1.svg">
				<img src="/images/masks/sidechain-logo-2.svg">		
				<img src="/images/mars-1.jpg">
				<img src="/images/mars-2.jpg">
				<img src="/images/mars-3.jpg">
				<img src="/images/mars-4.jpg">
			</div>
			<div class="wrapper col-xs-12">
				<div class="prism-slider prism-slider--left">
					<!--<h3 class="slider-header">Featured Work</h3>-->
					<ul class="navigation"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		{{# each data.projects.results}}
			<div class="col-xs-12 col-md-6 project-card card" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}">
				{{#if image}}
					<a href="{{projectUrl slug}}">
						<img src="{{{cloudinaryUrl image crop='fit' }}}" class="img project-img">
					</a>
				{{/if}}
				<div class="data-container">
					<div class="content">
						<h2 class="title"><a href="{{projectUrl slug}}">{{{title}}}</a></h2>
						<p class="author">{{{categoryList categories prefix=""}}}
								<!--{{#if author.name.first}}by {{author.name.first}}{{/if}}-->
						</p>
					</div>
				</div>				
			</div>
		{{/each}}
		</div>	
		<!--{{>pagination}}-->
	</div>
</div>
